body{
    margin: 0px;
    padding : 0px;
}
*
{
    box-sizing: border-box;
}
.pink
{
    background-color: lightpink;
}
.blue
{
    background-color: lightblue;
}
.green
{
    background-color: lightgreen;
}
.black
{
    background-color: black;
}

.toolbar{
    display:flex;
    height: 12vh;
    background-color: rgb(32, 29, 29);
    align-items: center;
}

.filter-container{
    height: 70%;
    background-color: darkgray;
    width: 20rem;
    border-radius: 3px;
    margin-left: 15rem;
    display: flex;
    border: 1px solid red;
    margin-left: 2rem;
    margin-right: 2rem;
    /* align-items: flex-start;
    justify-content: center;
    align-content: center; */
}

.filter-color-container{
    width: 25%;
    height:100%;
    background-color: #444;
    border-right: 1px solid red;
    display:flex;
    justify-content: center;
    align-items: center;
}
.filter_color{
    height: 40%;
    width: 40%;
    border-radius: 2px;
}
.action_container{
    height: 70%;
    width: 8rem;
    /* border-right: 1px solid red; */
    /* perfectly center */
    border-radius: 3px;
    display: flex;
    background-color: dark gray;

   
}
.icon_container{
    height: 100%;
    width: 50%;
    /* border-right: 1px solid red; */
    border: 1px solid red;
    /* perfectly center */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;

}
.icon{
    font-size: 1.5rem;
} 

.main-container{
    min-height: 88vh;
    padding-top: 3rem;
    padding-left: 3rem;
    background-color:aliceblue;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    /* background-color:rgb(230, 223, 215);   */
}

.ticket_container{
    height: 10rem;
    width: 14rem;
    background-color: white;
}

.ticket_color{
    height:7%;
}

.ticket_desc_container{
    height: 93%;
    padding: 0.5rem;
    overflow:auto;
    word-break:break-all
}

.ticket_id{
    margin-bottom: 11px;
    font-weight: 800;
    color:lightslategray;
}

.ticket_desc{
    text-align:center;
    font-size: 1.2rem;
}

.modal_container{
    width: 31rem;
    height: 18rem;
    /* border: 1px solid yellow; */
    display:none;
    box-shadow: 0px 12px 12px rgba(195, 0, 255, 0.349);
    position:absolute;
}
.task_container
{
    height: 100%;
    width: 76%;
    /* border: 1px solid blue; */
}

.modal_color_container {
    height: 100%;
    width: 25%;
    background-color: #444;
}

.task_box
{
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.modal_color
{
    height: 12%;
    width: 73%;
    border-radius: 2px;
}

.modal_color_container {
    /* height: 100%;
    width: 50%; */
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    justify-content: space-evenly;
    
}

.border {
    border: 5px solid rgb(0, 102, 255);
}

.lock{
    background-color: yellow;
    margin-left: 4rem;
    padding: 0.8rem;
}

.fas{
    font-size:x-large;
}

@media only screen and (min-width: 1800px) {
    html {
        font-size: 200%;
    }
}
